#square {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid black;
    position: fixed;
    left: 100px;
    bottom: 100px;
    z-index: 10;
}

/* img {
    height: 100px;
} */